development: &defaults
  :host: xxxx
  :secret_key_base: xxxx
  :frontend_url: http://localhost:8080
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx
  :build_queue_name: pug.builds
  :config_file_path: .pug.yml
  :cors_origins:
    - localhost:8080
  :bunny:
    :username: guest
    :password: guest
    :host: localhost
    :port: 5672

test:
  <<: *defaults
  :secret_key_base: xxx
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx

production:
  <<: *defaults
  :host: <%= ENV['PUG_API_HOST'] %>
  :secret_key_base: <%= ENV['PUG_API_SECRET_KEY_BASE'] %>
  :frontend_url: <%= ENV['PUG_API_FRONTEND_URL'] %>
  :omniauth:
    :github_id: <%= ENV['PUG_API_OMNIAUTH_GITHUB_ID'] %>
    :github_secret: <%= ENV['PUG_API_OMNIAUTH_GITHUB_SECRET'] %>
  :cors_origins:
    - <%= ENV['PUG_API_FRONTEND_URL'] %>
  :bunny:
    :username: <%= ENV['PUG_API_AMQP_USERNAME']
    :password: <%= ENV['PUG_API_AMQP_PASSWORD']
    :host: <%= ENV['PUG_API_AMQP_HOST']
