development: &defaults
  :host: xxxx
  :secret_key_base: xxxx
  :frontend_url: http://localhost:8080
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx
  :build_queue_name: xxxx
  :config_file_path: .pug.yml
  :cors_origins:
    - localhost:8080

test:
  <<: *defaults
  :secret_key_base: xxx
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx
