development: &defaults
  :host: xxxx
  :secret_key_base: xxxx
  :frontend_url: http://localhost:8080
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx

test:
  :secret_key_base: xxx
  :omniauth:
    :github_id: xxxx
    :github_secret: xxxx
